__pycache__/image.cpython-310.pyc
__pycache__/calculation.cpython-310.pyc
photo.jpg
__pycache__/intersection.cpython-310.pyc
.vscode/settings.json
__pycache__/green.cpython-310.pyc
__pycache__/lcd.cpython-39.pyc
__pycache__/RGB1602.cpython-39.pyc
__pycache__/RGB1602.cpython-310.pyc
__pycache__/lcd.cpython-310.pyc
__pycache__/motors.cpython-310.pyc
